#container {
 display: grid;
 grid-template-columns: auto auto auto auto;
 grid-template-rows: auto auto auto auto auto;
 padding: 10px;
}
#currentArea {
  grid-column: 1 / span 4;
  grid-row: 1;
}
#totalArea{
  grid-column: 1 / span 4;
  grid-row: 2;
}
#bAC {
  grid-column: 3 / span 2;
}
#bCE {
  grid-column: 1 / span 2;
}
#b0 {
  grid-column: 1 / span 2;
}
